/* General styles */
body {
    background-color: #F5F7FA;
    font-family: "Open Sans", sans-serif;
}

h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 80px;
}

h2 b {
    color: #ffc000;
}

h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: -20px;
}

/* Carousel styles */
.container {
    max-width: 100%;
    margin-top: 0 !important;
    padding: 0 ;

}

.carousel {
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    height: 500px; /* Chiều cao bạn muốn cho carousel */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}








.tour-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tour-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.tour-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.tour-card .card-body {
  padding: 15px;
}

.star-rating i {
  color: #ffc107;
  font-size: 1.2em;
  margin-right: 2px;
}

.star-rating {
  margin-bottom: 10px;
}

.tour-price {
  font-size: 1.4em;
  color: #ff5722;
  font-weight: bold;
}

.discount-badge {
  background-color: #e53935;
  color: white;
  padding: 5px 10px;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 12px;
  display: inline-block;
}

.btn-outline-primary {
  color: #007bff;
  border: 2px solid #007bff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}